
* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
  overflow: hidden;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5f0f6;
  padding: 10px 20px;
  color: black;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile span {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.side{
  display: flex;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #e5f0f6;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  font-family: Arial, sans-serif;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}


.sidebar-menu {
  width: 100%;
}

.sidebar-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.sidebar-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px 0;
}
